.woocommerce-cart {
	.woocommerce {
		display: flex;
		align-items: stretch;
		form {
			width: 68%;
			margin-right: 2%;
			-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
			box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
			@include rems(padding, 4);
			@include box;
			background: #fff;
			border: 1px solid #ccc;
			@include border-radius(10px);
		}
		.cart-collaterals {
			width: 30%;
		}
	}
}
.shop_table {
	width: 100%;
	&.order_details, &.customer_details, &.cart {
		th {
			&.product-name {
				color: #fff;
			}
		}
		th, td {
			@include rems(padding, 1);
			border-bottom: 1px solid #ccc;
			text-align: center;
			&.product-thumbnail {
				display: none;
			}
			&.product-quantity {
				width: 18%;
			}
			label {
				display: none;
			}
			input {
				margin: 0;
			}
			.button {
				float: right;
				@include rems(padding, 1, 4);
			}
		}
	}
	tr {
		&:last-child {
			td, th {
				border-bottom: none;
			}		
		}
	}
	tfoot {
		tr {
			&:first-child {
				td, th {
					border-top: 1px solid #ccc;
				}
			}
		}
	}
	&.order_details, &.customer_details {
		th {
			text-align: right;
		}
		td {
			text-align: left;
		}
	}
	.order_item {
		td {
			&:first-child {
				text-align: right;
			}
		}
	}
}
.cart-collaterals {
	text-align: center;
	@include rems(padding, 4);
	background: #fff;
	border: 1px solid #ccc;
	@include border-radius(10px);
	h2 {
		display: none;
	}
	table {
		width: 100%;
		@include rems(margin-bottom, 1);
		th, td {
			@include rems(padding, 1);
			border-bottom: 1px solid #ccc;

		}
	}
	.button {
		//float: right;
		margin: 0 auto;
	}
}
