.col-1, .col-2, .col-3, .woocommerce-checkout-payment, .woocommerce-error {
	background: #fff;
	@include rems(padding, 8);
	border: 1px solid #ccc;
	@include rems(margin-bottom, 4);
	@include clearfix;
	@include border-radius(10px);
	position: relative;
	transition: 0.4s all ease;
	@media #{$phone} {
		@include rems(padding, 4);
	}
	label {
		display: block;
		font-family: $gotham-book;
		@include rems(margin-bottom, 0.5);
	}
	&:before {
		display: block;
		content: '';
		background: url('images/checkout-arrow@2x.png') top center no-repeat;
		background-size: contain;
		position: absolute;
		@include rems(width, 4);
		@include rems(height, 2);
		top: 100%;
		left: 50%;
		@include rems(margin-left, -2);
		transition: 0.4s all ease;
	}
}
.woocommerce-error {
	border: 1px solid #ed1c24;
	.woocommerce-checkout-payment & {
		@include rems(padding, 2);
	}
	&:before {
		display: none;
	}
	li {
		&:before {
			@include icon('\f057');
			color: #ed1c24;
			@include font-size(2, 2);
			@include rems(margin-right, 1);
		}
	}
}
.col-3 {
	margin-bottom: 0;
	text-align: center;
	&:before {
		opacity: 0;
	}
	&.active {
		@include rems(margin-bottom, 4);
		&:before {
			opacity: 1;
		}
	}
}
.woocommerce-checkout-payment{
	margin-bottom: 0;
	display: none;
	&:before {
		display: none;
	}
}
.woocommerce-checkout-review-order-table {
	width: 100%;
	@include rems(margin-bottom, 4);
	thead {
		display: none;
	}
	tbody, tfoot {
		td, th {
			@include rems(padding, 1);
			border-bottom: 1px solid #ccc;
			@include box;
			width: 50%;
			&:first-child {
				text-align: right;
			}
			&:last-child {
				text-align: left;
			}
		}
	}
	tr.cart_item {
		&:first-child {
			td {
				padding-top: 0;
			}
		}
	}
	tr.order-total {
		th, td {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}
fieldset.wc-payment-form {
	@include rems(padding, 4, 0);
	@include rems(margin, 4, 0);
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.woocommerce-message, .woocommerce-info {
	display: none !important;
}
.woocommerce-order-received {
	.woocommerce {
		@include rems(max-width, 60);
		background: #fff;
		@include rems(padding, 4);
		margin: 0 auto;
		@include box;
		border: 1px solid #ccc;
		@include border-radius(10px);
		text-align: center;
		header, h2 {
			position: static;
			background: none;
			border-bottom: none;
			@include rems(padding, 4, 0, 0);
			@include rems(margin-top, 4);
			border-top: 1px dashed #ccc;
			h2 {
				padding: 0;
				margin-top: 0;
				border-top: none;
			}
		}
	}
	th.product-name {
		color: #fff !important;
	}
}
