footer {
	@include rems(padding, 0, 0, 4);
	@include font-size(1.4, 1.4);
	text-align: center;
	.woocommerce &, .woocommerce-page & {
		background: #fff;
		@include rems(padding, 2, 0);
		border-top: 1px solid #ccc;
	}
	.divider {
		@include rems(margin-bottom, 4);
	}
	.footer-fix & {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	a {
		color: $body;
		text-decoration: none;
		transition: 0.4s all ease;
		&:hover {
			color: $main;
		}
	}
}
