.form-split {
	@include clearfix;
	@include rems(margin-bottom, 2);
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0;
		}
	}
}
fieldset {
	border: none;
}
input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100%;
	@include box;
	@include rems(padding, 1, 2);
	-webkit-appearance: none;
	border-radius: 0;
	@include rems(margin-bottom, 2);
	outline: none;

	// Custom Styles

	background: #fff;
	font-family: $gotham-light;
	@include font-size(2, 2);
	border: 1px solid #ccc;
	@include border-radius(4px);
	transition: 0.4s all ease;
	&:focus {
		border: 1px solid $main;
	}
}
button[type="submit"], input[type="submit"] {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles

	@include border-radius(4px);
	background: none;
	@include rems(padding, 1, 8);
	border: none;
	font-family: $gotham-book;
	@include font-size(2, 2);
	border: 1px solid $main;
	display: inline-block;
	color: $main;
	transition: 0.4s all ease;
	cursor: pointer;
	text-transform: lowercase;
	.summary & {
		@include rems(padding, 0.5, 2);
	}
	&:hover {
		color: #fff;
		background: $main;
	}
}
select {
	background-image: url('images/select@2x.png');
	background-position: right 20px center;
	background-position: right 2rem center;
	background-repeat: no-repeat;
	background-size: 14px auto;
	background-size: 1.4rem auto;
	@include rems(padding, 1, 5.4, 1, 2);
	width: 100%;
	@include box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border-radius: 0;
	@include rems(margin-bottom, 2);
	outline: none;

	// Custom Styles

	background-color: #fff;
	font-family: $gotham-light;
	@include font-size(2, 2);
	border: 1px solid #ccc;
	@include border-radius(4px);
	color: $body;
	transition: 0.4s all ease;
	&:focus {
		border: 1px solid $main;
	}
}
.wedding {
	.select2-container {
		@include rems(margin-bottom, 2);
		.select2-choice {
			@include rems(padding, 1, 2);
			.select2-arrow {
				background-image: url('images/select@2x.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 14px auto;
				background-size: 1.4rem auto;
				@include rems(width, 1.4);
				@include rems(right, 2);
				b {
					display: none;
				}
			}
		}
	}
	.select2-drop-active, .select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
		border: 1px solid $pink;
	}
	.select2-drop.select2-drop-above.select2-drop-active {
		border-top: 1px solid $pink;
	}
}
select::-ms-expand {
    display: none;
}
form {
	@include clearfix;
	p {
		padding-bottom: 0;
	}
	br {
		display: none;
	}
	.ajax-loader {
		display: none !important;
	}
}
.form-row {
	float: left;
	&.form-row-first, &.form-row-last {
		width: 49%;
		@media #{$phone} {
			width: 100%;
		}
	}
	&.form-row-first {
		margin-right: 2%;
		clear: both;
		@media #{$phone} {
			margin-right: 0;
		}
	}
	&.form-row-wide, &.notes {
		width: 100%;
		clear: both;
	}
	&.place-order {
		float: right;
	}
	&.create-account {
		display: none;
	}
}
