body {
	font-family: $gotham-light;
	@include font-size(2, 2.8);
	background: #fff;
	color: $body;
	position: relative;
	@media #{$phone} {
		@include font-size(1.6, 2.4);
	}
	&.page-template-template-landing {
		text-align: center;
	}
	&.woocommerce, &.woocommerce-page {
		background: url('images/product-bg.jpg') top 60px center no-repeat fixed #ededed;
		background: url('images/product-bg.jpg') top 6rem center no-repeat fixed #ededed;
		background-size: cover;
		@media #{$phone} {
			background: #ededed;
		}
	}
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
		@media #{$phone} {
			@include rems(padding, 4, 0);
		}
	}
	&.no-top {
		padding-top: 0;
	}
	&.narrow {
		@include rems(max-width, 80);
	}
}
.page-content {
	position: relative;
	min-height: 100%;
}
.footer-fix {
	padding: 0;
	transition: 0.4s all ease;
}
.acf-map {
	@include rems(height, 40);
}
img {
	&.alignright, &.alignleft {
		display: block;
		@include rems(margin-bottom, 2);
	}
	&.alignright {
		float: right;
		@include rems(margin-left, 2);
	}
	&.alignleft {
		float: left;
		@include rems(margin-right, 2);
	}
	&.aligncenter {
		margin: 0 auto;
		@include rems(margin-bottom, 2);
		display: block;
	}
}
a.button {
	display: inline-block;
	@include rems(padding, 0.5, 2);
	color: $pink;
	@include rems(margin, 0, 1);
	border: 1px solid $pink;
	transition: 0.4s all ease;
	@include border-radius(4px);
	font-family: $gotham-book;
	@media #{$phone} {
		@include rems(margin, 0, 0.5);
	}
	&:hover {
		color: #fff;
		background: $pink;
	}
}
