.landing-flood, .venue-flood {
	position: relative;
	transition: 0.4s all ease;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.2);
	.no-flexbox & {
		display: table;
		width: 100%;
	}
	h1 {
		background: url('images/feature-title@2x.png') center center no-repeat;
		background-size: contain;
		width: 100%;
		@include rems(max-width, 105.5);
		@include rems(height, 49.3);
		text-indent: -10000px;
		margin: 0 auto;
		@media #{$laptop} {
			@include rems(height, 40);
		}
		@media #{$phone} {
			@include rems(height, 20);
		}	
	}
	h2 {
		color: #fff;
		text-shadow: 0 0 6px #000;
		text-transform: uppercase;
		@include font-size(2.4, 3);
		@include rems(margin, 4, 0, 0);
		letter-spacing: 5px;
		position: relative;
		display: inline-block;
		font-family: $gotham-book;
		@media #{$tablet-portrait} {
			@include rems(margin, 4, 0);
		}
		&:before, &:after {
			height: 1px;
			background: #fff;
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			//@include rems(width, 200);
		}
		&:before {
			right: 100%;
			@include rems(margin-right, 2);
			@include rems(width, 200);
		}
		&:after {
			left: 100%;
			@include rems(margin-left, 2);
			@include rems(width, 200);
		}
	}
	.container {
		@include box;
		margin: 0;
		.no-flexbox & {
			margin: 0 auto;
			display: table-cell;
			vertical-align: middle;
		}
		& > div {
			width: 100%;
			position: relative;
			overflow: hidden;
		}
	}
	.page-scroller {
		display: none;
	}
}
.landing-flood {
	@media #{$tablet-portrait} {
		background-position: right -150px center !important;
		background-position: right -15rem center !important;
		.page-scroller {
			display: block;
			color: #fff;
			@include font-size(4, 4);
		}
	}
	@media #{$phone} {
		background-position: right -100px center !important;
		background-position: right -10rem center !important;
	}
}
.landing-main {
	position: relative;
	background: #fff;
	overflow: hidden;
	& > * {
		position: relative;
		z-index: 10;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		right: 0;
		background: url('images/bigfade-topright.png') top right no-repeat;
		@media #{$laptop} {
			@include rems(right, -10);
		}
		@media #{$tablet-portrait} {
			background-size: contain;
		}
		@media #{$phone} {
			right: 0;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 50%;
		background: url('images/bigfade-bottomleft.png') bottom left no-repeat;
		background-size: contain;
		@media #{$laptop} {
			@include rems(left, -25);
		}
	}
}
.divider {
	margin: 0 auto;
	display: block;
	border-bottom: 1px solid #ccc;
	@include rems(max-width, 20);
}
.photo-list {
	@include clearfix;
	margin: 0 auto;
	@include rems(margin-bottom, 4);
	@media #{$phone} {
		margin-bottom: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	li {
		float: left;
		@include rowMachine(4, 5%);
		@media #{$phone} {
			@include rowMachine(2, 5%);
		}
		.circle-clip {
			border: 2px solid #ccc;
			@include border-radius(50%);
			width: 100%;
			@include rems(max-width, 18);
			margin: 0 auto;
			@include rems(margin-bottom, 2);
			position: relative;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			@include box;
			@media #{$phone} {
				@include rems(max-width, 14);
			}
			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				border: 2px solid #fff;
				@include border-radius(50%);
			}
			&#ak {
				background-image: url('images/pictures/aimee.jpg');
			}
			&#bh {
				background-image: url('images/pictures/ben.jpg');
			}
			&#mc {
				background-image: url('images/pictures/mel.jpg');
			}
			&#kk {
				background-image: url('images/pictures/katie.jpg');
			}
			&#ch {
				background-image: url('images/pictures/chloe.jpg');
			}
			&#dk {
				background-image: url('images/pictures/dan.jpg');
			}
		}
	}
	&.two-wide {
		width: 50%;
		@media #{$phone} {
			width: 100%;
		}
		li {
			@include rowMachine(2, 10%);
			@media #{$phone} {
				@include rowMachine(2, 5%);
			}
		}
	}
}
.the-day {
	position: relative;
	z-index: 10;
	background: #fefefe;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	//-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	//		box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	.circle-list {
		@include clearfix;
		position: relative;
		overflow: hidden;
		li {
			float: left;
			@include rowMachine(6, 5%);
			@media #{$tablet-portrait} {
				@include rowMachine(3, 2%);
			}
			@media #{$phone} {
				@include rowMachine(2, 5%);
			}
			.circle-clip {
				border: 1px solid $pink;
				@include border-radius(50%);
				width: 100%;
				@include rems(max-width, 18);
				margin: 0 auto;
				position: relative;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #ededed;
				@include rems(margin-bottom, 4);
				@include box;
				@media #{$phone} {
					@include rems(max-width, 14);
				}
				&:before {
					content: '';
					display: block;
					padding-top: 100%;
					border: 2px solid #fff;
					@include border-radius(50%);
				}
				&:after {
					content: '';
					@include rems(height, 0.1);
					background: $pink;
					position: absolute;
					left: 100%;
					@include rems(right, -20);
					top: 50%;
					@include rems(margin-top, -0.1);
					display: block;
					@media #{$phone} {
						@include rems(right, -10);
					}
				}
				&.rings {
					background-image: url('images/icons/rings@2x.png');
				}
				&.glasses {
					background-image: url('images/icons/glasses@2x.png');
				}
				&.cutlery {
					background-image: url('images/icons/cutlery@2x.png');
				}
				&.balloons {
					background-image: url('images/icons/balloons@2x.png');
				}
				&.taxi {
					background-image: url('images/icons/taxi@2x.png');
				}
			}
			@media #{$tablet-portrait} {
				&:nth-child(3n) {
					.circle-clip {
						&:after {
							display: none;
						}
					}
				}
				br {
					display: none;
				}
			}
			@media #{$phone} {
				&:nth-child(3n) {
					.circle-clip {
						&:after {
							display: block;
						}
					}
				}
				&:nth-child(3n+1) {
					clear: none;
				}
				&:nth-child(2n) {
					.circle-clip {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}
.landing-venue {
	background: url('images/bigfade-topcenter.jpg') top center no-repeat #fff;
	.slider-half {
		@include rowMachine(2, 10%);
		@media #{$tablet-portrait} {
			&:nth-child(2n+1):nth-last-child(-n+2),
  			&:nth-child(2n+1):nth-last-child(-n+2) ~ * {
  				@include rems(margin-bottom, 8);
  			}
  			&:last-child {
  				margin-bottom: 0;
  			}
  			@include rowMachine(1, 5%);
		}
		.slider-container {
			position: relative;
			@include rems(margin, 4, 0);
			span {
				display: block;
			}
			em {
				font-family: $gotham-light;
				font-style: normal;
				@media #{$phone} {
					display: block;
				}
			}
			.bx-next, .bx-prev {
				position: absolute;
				top: 50%;
				color: $pink;
				@include font-size(2.4, 2.5);
				display: flex;
				align-items: center;
				justify-content: center;
				@include rems(margin-top, -1.3);
				@include rems(padding, 0.5);
				background: #fff;
				@include box;
				text-decoration: none;
				@include rems(width, 3.4);
				text-align: center;
				border-radius: 50%;
				transition: 0.4s all ease;
				@media #{$phone} {
					display: none;
				}
				&:hover {
					background: $pink;
					color: #fff;
				}
			}
			.bx-next {
				left: 100%;
			}
			.bx-prev {
				right: 100%;
			}
			.bx-pager {
				position: absolute;
				width: 100%;
				@include rems(bottom, -4);
				text-align: center;
				div {
					display: inline-block;
					@include rems(margin, 0, 0.2);
					font-size: 0;
					line-height: 0;
					a {
						display: block;
						text-indent: -10000px;
						@include box;
						@include rems(width, 0.6);
						@include rems(height, 0.6);
						@include border-radius(50%);
						border: 1px solid #ccc;
						transition: 0.4s all ease;
						&:hover, &.active {
							border: 1px solid $pink;
							background: $pink;
						}
					}
				}
			}
		}
	}
}
.scrolling-section.rsvp {
	background: url('images/bigfade-center.jpg') center center no-repeat #fff;
}
.form-box {
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
			box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	margin: 0 auto;
	@include rems(max-width, 55);
	@include rems(padding, 8);
	@include box;
	background: #fff;
	border: 1px solid #ccc;
	@include border-radius(10px);
	@include rems(margin-bottom, 4);
	@media #{$phone} {
		@include rems(padding, 4);
	}
	.divider {
		@include rems(margin-top, 4);
		@include rems(margin-bottom, 4);
	}
	p {
		@include font-size(1.6, 2.2);
	}
}
