nav {
	&.scrolling-nav {
		background: #fff;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		@include rems(padding, 2, 0);
		transition: 0.4s all ease;
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1000;
		@media #{$tablet-portrait} {
			display: none;
		}
		ul {
			font-size: 0;
			line-height: 0;
			li {
				display: inline-block;
				@include rems(margin, 0, 2);
				@include clearfix;
				text-transform: uppercase;
				letter-spacing: 5px;
				.ie-11 &, .ie-10 &, .no-flexbox & {
					@include rems(margin, 0, 3);
				}
				@media #{$tablet} {
					@include rems(margin, 0, 1);
				}
				&:before {
					display: block;
					@include rems(margin-left, 4);
					content: '•';
					@include font-size(2, 2);
					float: right;
					.ie-11 &, .ie-10 &, .no-flexbox & {
						display: none;
					}
					@media #{$tablet} {
						@include rems(margin-left, 2);
					}
				}
				&:first-child {
					@include rems(margin, 0, 2, 0, 0);
					.ie-11 & {
						@include rems(margin, 0, 3, 0, 0);
					}
					@media #{$tablet} {
						@include rems(margin, 0, 1, 0, 0);
					}
				}
				&:last-child {
					@include rems(margin, 0, 0, 0, 2);
					.ie-11 & {
						@include rems(margin, 0, 0, 0, 3);
					}
					@media #{$tablet} {
						@include rems(margin, 0, 0, 0, 1);
					}
					&:before {
						display: none;
					}
				}
				a {
					display: block;
					@include font-size(2, 2);
					float: left;
					color: $body;
					transition: 0.4s all ease;
					text-decoration: none;
					&.active {
						color: $main;
					}
				}
			}
		}
		&.fixed {
			position: fixed;
			top: 0;
			bottom: auto;
		}
	}
	header & {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		a {
			display: block;
			@include font-size(2, 2);
			float: left;
			color: $body;
			transition: 0.4s all ease;
			text-decoration: none;
			@include rems(margin-right, 2);
			&:last-child {
				margin-right: 0;
			}
			&.active {
				color: $main;
			}
		}
	}
}
