.single-product > .container {
	display: flex;
	align-items: stretch;
	& > div {
		display: flex;
		align-items: center;
	}
}
.images {
	float: left;
	width: 35%;
	margin-right: 5%;
	@include box;
	border: 1px solid #ccc;
	background: #fff;
	@include rems(padding, 1);
	@include border-radius(4px);
	display: none;
	img {
		display: block;
	}
}
.summary {
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
			box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	margin: 0 auto;
	//@include rems(max-width, 55);
	@include rems(padding, 8);
	@include box;
	background: #fff;
	border: 1px solid #ccc;
	@include border-radius(10px);
	@media #{$phone} {
		@include rems(padding, 4);
		/* These are technically the same, but use both */
		overflow-wrap: break-word;
		word-wrap: break-word;

		-ms-word-break: break-all;
		/* This is the dangerous one in WebKit, as it breaks things wherever */
		word-break: break-all;
		/* Instead use this non-standard one: */
		word-break: break-word;

		/* Adds a hyphen where the word breaks, if supported (No Blink) */
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
	p.price {
		font-family: $gotham-book;
		@include font-size(0, 0);
		@include rems(margin-bottom, 4);
		@include rems(padding-bottom, 4);
		border-bottom: 1px solid #ccc;
	}
	ul {
		@include rems(margin-bottom, 2);
	}
}
.woocommerce-tabs {
	display: none;
}
form.cart {
	@include rems(padding, 4, 0, 0, 30);
	border-top: 1px solid #ccc;
	@include box;
	@include rems(margin-top, 4);
	display: flex;
	align-items: stretch;
	@media #{$phone} {
		@include rems(padding, 4, 0, 0);
		flex-wrap: wrap;
	}
	.quantity {
		float: left;
		@include rems(margin-right, 1);
		width: 50%;
		width: calc(100% - 190px);
		width: calc(100% - 19rem);
		position: relative;
		@media #{$phone} {
			width: 100%;
			@include rems(margin-bottom, 2);
			float: right;
			margin-right: 0;
			@include clearfix;
		}
		input {
			margin-bottom: 0;
			@media #{$phone} {
				width: 50%;
				float: right;
			}
		}
		label {
			display: block;
			position: absolute;
			right: 100%;
			font-family: $gotham-book;
			@include rems(padding, 0.9, 1);
			@media #{$phone} {
			//	position: static;
			//	text-align: center;
				width: 50%;
				right: 50%;
				text-align: right;
			}
		}
	}
	button {
		float: right;
		@include rems(width, 17);
		@media #{$phone} {
			float: none;
			margin: 0 auto;
			width: 100%;
		}	
	}
}
h2.stay {
	@include rems(margin-bottom, 8);
	background: url('images/stay-text@2x.png') top center no-repeat;
	background-size: contain;
	@include rems(height, 36);
	text-indent: -10000px;
	@media #{$phone} {
		background-image: url('images/stay-text-pink.png');
		@include rems(height, 18);
	}
}
