h1 {
	&.product_title {
		@include font-size(3, 3);
		color: $pink;
	}
	&.page-title {
		text-transform: uppercase;
		letter-spacing: 10px;
		@include font-size(3, 3);
		@include rems(margin-bottom, 8);
		//text-shadow: 0 0 10px #ffffff;
	}
}
h2 {
	@include font-size(3, 3.6);
	@include rems(margin-bottom, 2);
	max-width: 100%;
	&.alt {
		@include rems(margin-bottom, 0.5);
	}
	@media #{$phone} {
		@include font-size(2.4, 3);
		@include rems(margin-bottom, 1);
	}
	&.feature-title {
		text-transform: uppercase;
		letter-spacing: 10px;
		@include font-size(3, 3);
		@include rems(margin-bottom, 8);
		text-shadow: 0 0 10px #ffffff;
		@media #{$phone} {
			@include rems(margin-bottom, 4);
			@include font-size(2.4, 2.4);
		}
		&.alt {
			@include rems(margin-bottom, 0.5);
		}
		.form-box & {
			@include rems(margin-bottom, 4);
		}
	}
	.photo-list & {
		@include font-size(2, 2.4);
		span {
			display: block;
			color: $main;
		}
		@media #{$phone} {
			@include rems(margin-bottom, 2);
		}	
	}
	.summary &, .cart-collaterals &, .woocommerce-order-received & {
		@include font-size(2.4, 3);
		font-family: $gotham-book;
		@include rems(margin-bottom, 2);
		@media #{$phone} {
			@include font-size(2, 2.4);
		}
	}
}
h3 {
	&.feature-title {
		color: $main;
		@include font-size(2, 2.8);
		@include rems(margin-bottom, 4);
	}
	.circle-list & {
		@include font-size(3, 3.6);
		color: $main;
		span {
			@include font-size(1.8, 2.6);
			color: $body;
			display: block;
		}
		@media #{$tablet-portrait} {
			@include rems(margin-bottom, 4);
		}
	}
	.woocommerce-order-received & {
		@include font-size(2.4, 3);
		font-family: $gotham-book;
		@include rems(margin-bottom, 2);
	}
	.col-1 &, .col-2 &, .col-3 &, .col-4 & {
		text-transform: uppercase;
		letter-spacing: 5px;
		@include font-size(3, 3);
		@include rems(margin-bottom, 4);
		text-shadow: 0 0 10px #ffffff;
		text-align: center;
		color: $pink;
		@media #{$phone} {
			@include font-size(2.4, 2.4);
		}
	}
}
.pink {
	color: $pink;
}
.white {
	color: #fff;
}
.center {
	text-align: center;
}
a {
	color: $pink;
	text-decoration: none;
}
address {
	font-style: normal;
	display: block;
	@include font-size(1.8, 2.6);
	font-family: $gotham-book;
}
.rsvp-note {
	@include font-size(1.8, 2.6);
	font-family: $gotham-book;
	@include rems(max-width, 55);
	margin: 0 auto;
	@media #{$phone} {
		@include font-size(1.4, 2);
		br {
			display: none;
		}
	}
	&:last-child {
		padding-bottom: 0;
	}
}
strong {
	font-weight: normal;
	font-family: $gotham-medium;
}
th {
	font-weight: normal;
	font-family: $gotham-medium;
}
p.woocommerce-thankyou-order-received {
	@include font-size(2.4, 3);
	font-family: $gotham-book;
	@include rems(margin-bottom, 2);
	@media #{$phone} {
		@include font-size(2, 2.6);
	}
	span {
		display: block;
		@include rems(margin-bottom, 2);
		color: $pink;
	}
}
